{{if identity}}<li id="folder-${identity.folderID}"><a class="identity folder permanent" href="#folder-${identity.folderID}">${identity.name}</a></li>{{/if}}
{{if mailSettings}}<li id="folder-${mailSettings.folderID}"><a class="mail-settings folder permanent" href="#folder-${mailSettings.folderID}">${mailSettings.name}</a></li>{{/if}}
{{if portalSettings}}<li id="folder-${portalSettings.folderID}"><a class="portal-settings folder permanent" href="#folder-${portalSettings.folderID}">${portalSettings.name}</a></li>{{/if}}
{{if accountUpgrades}}<li id="folder-${accountUpgrades.folderID}"><a class="account-upgrades folder permanent" href="#folder-${accountUpgrades.folderID}">${accountUpgrades.name}</a></li>{{/if}}
{{if password}}<li id="folder-${password.folderID}"><a class="password folder permanent" href="#folder-${password.folderID}">${password.name}</a></li>{{/if}}
