<h3>Statistics</h3>
<h4>Account</h4>
<dl>
    <dt>Username</dt>
    <dd>${account.username}</dd>
    <dt>Name</dt>
    <dd>${account.name}</dd>
    <dt>User Number</dt>
    <dd>${account.number}</dd>
    <dt>Reputation</dt>
    <dd>${account.reputation}</dd>
    <dt>Plan</dt>
    <dd>${account.plan}</dd>
    <dt>Registration Date</dt>
    <dd>${account.date}</dd>
</dl>
<h4>Storage</h4>
<dl>
    <dt>Space</dt>
    <dd>${storage.space}</dd>
    <dt>Number of Folders</dt>
    <dd>${storage.folders}</dd>
    <dt>Objects Stored</dt>
    <dd>${storage.stored}</dd>
    <dt>Objects Archived</dt>
    <dd>${storage.archived}</dd>
    <dt>Encrypted</dt>
    <dd>${storage.encrypted}</dd>
</dl>
<h4>Logins</h4>
<dl>
    <dt>SMTP</dt>
    <dd>${logins.smtp}</dd>
    <dt>POP</dt>
    <dd>${logins.pop}</dd>
    <dt>IMAP</dt>
    <dd>${logins.imap}</dd>
    <dt>Web</dt>
    <dd>${logins.web}</dd>
</dl>
<h4>Messages</h4>
<dl>
    <dt>Received</dt>
    <dd>${messages.received}</dd>
    <dt>Sent</dt>
    <dd>${messages.sent}</dd>
</dl>
<h4>Transfer</h4>
<dl>
    <dt>Bytes Sent</dt>
    <dd>${transfer.sent}</dd>
    <dt>Bytes Received</dt>
    <dd>${transfer.received}</dd>
</dl>
<h4>Email</h4>
<dl>
    <dt>Address</dt>
    <dd>${email.address}</dd>
</dl>
<h4>Blocked</h4>
<dl>
    <dt>Spam</dt>
    <dd>${blocked.spam}</dd>
    <dt>Bounced</dt>
    <dd>${blocked.bounced}</dd>
</dl>
