{{if all}}<li id="folder-${all.folderID}"><a class="all folder permanent" href="#folder-${all.folderID}">${all.name}</a></li>{{/if}}
{{if people}}<li id="folder-${people.folderID}"><a class="people folder permanent" href="#folder-${people.folderID}">${people.name}</a></li>{{/if}}
{{if business}}<li id="folder-${business.folderID}"><a class="business folder permanent" href="#folder-${business.folderID}">${business.name}</a></li>{{/if}}
{{if collected}}<li id="folder-${collected.folderID}"><a class="collected folder permanent" href="#folder-${collected.folderID}">${collected.name}</a></li>{{/if}}
