{{if statistics}}<li id="folder-${statistics.folderID}"><a class="statistics folder permanent" href="#folder-${statistics.folderID}">${statistics.name}</a></li>{{/if}}
{{if security}}<li id="folder-${security.folderID}"><a class="security folder permanent" href="#folder-${security.folderID}">${security.name}</a></li>{{/if}}
{{if contacts}}<li id="folder-${contacts.folderID}"><a class="contacts folder permanent" href="#folder-${contacts.folderID}">${contacts.name}</a></li>{{/if}}
{{if mail}}<li id="folder-${mail.folderID}"><a class="mail folder permanent" href="#folder-${mail.folderID}">${mail.name}</a></li>{{/if}}
