<h3>Identity</h3>
<div>
    <dl>
        <dt>Display Name</dt>
        <dd class="name">${name}</dd>
    </dl>
    <p class="help-text">Help text here</p>
    <div class="actions">
        <a class="help" href="#help">Help</a>
    </div>
</div>
<div>
    <dl>
        <dt>First Name</dt>
        <dd class="first">${first}</dd>
    </dl>
    <p class="help-text">Help text here</p>
    <div class="actions">
        <a class="help" href="#help">Help</a>
    </div>
</div>
<div>
    <dl>
        <dt>Last Name</dt>
        <dd class="last">${last}</dd>
    </dl>
    <p class="help-text">Help text here</p>
    <div class="actions">
        <a class="help" href="#help">Help</a>
    </div>
</div>
<div class="removable">
    <dl>
        <dt>Website</dt>
        <dd class="website">${website}</dd>
    </dl>
    <p class="help-text">Help text here</p>
    <div class="actions">
        <a class="help" href="#help">Help</a>
    </div>
</div>
</dl>
