bin/magmad
bin/magmad.so
bin/magmad.stripped
bin/magmad.so.stripped
res/logs/*
res/spool/*
res/virus/main.cld
res/virus/bytecode.cld
res/virus/mirrors.dat
res/virus/safebrowsing.cvd
tools/pwtool/pwtool
