.deps/
.objs/
magmad
magmad.check
res/logs/*
res/spool/*
res/sql/Start.sql
res/sql/Hostname.sql
tools/pwtool/pwtool
sandbox/virus/
sandbox/storage/*
lib/logs/
lib/objects/
lib/sources/
lib/magmad.so

