

magma.admin.contact = contact@lavabit.com
magma.admin.abuse = abuse@lavabit.com

magma.output.file = false
magma.system.daemonize = false

magma.log.content = false
magma.log.file = false
magma.log.function = false
magma.log.http = false
magma.log.imap = false
magma.log.line = false
magma.log.stack = false
magma.log.time = false

magma.system.domain = lavabit.com

magma.web.ssl_redirect = 127.0.0.1:10500
magma.web.statistics = true

magma.dkim.enabled = true
magma.dkim.selector = bazinga
magma.dkim.domain = lavabit.com
magma.dkim.privkey = sandbox/etc/dkim.localhost.localdomain.pem

magma.secure.memory.length = 65536
magma.secure.salt = +!l6M6rz0c0!+
magma.secure.sessions = +!l6M6rz0c0!+

magma.http.close = true
magma.web.portal.indent = false
magma.http.allow_cross_domain = true
magma.config.output_config = false

magma.iface.cache.host[1].name = 127.0.0.1
magma.iface.cache.host[1].port = 11211

magma.http.pages = res/pages/
magma.http.templates = res/templates/
magma.http.fonts = res/fonts/

magma.iface.database.host = localhost
magma.iface.database.password = aComplex1
magma.iface.database.pool.connections = 6
magma.iface.database.schema = Lavabit
magma.iface.database.socket_path = /var/lib/mysql/mysql.sock
magma.iface.database.user = mytool

magma.iface.virus.signatures = sandbox/virus/
magma.iface.virus.available = false

magma.library.file = ./magmad.so
magma.library.unload = false
magma.output.path = sandbox/logs/
magma.spool = sandbox/spool/
magma.storage.default = local
magma.storage.root = storage/
magma.storage.tank = sandbox/storage/tanks/
magma.system.enable_core_dumps = false
magma.system.increase_resource_limits = false
magma.system.worker_threads = 16
magma.web.portal.safeguard = false

magma.relay.timeout = 60
magma.relay[1].name = localhost
magma.relay[1].port = 7000

magma.servers[1].name = Lavabit Molten
magma.servers[1].domain = lavabit.com
magma.servers[1].protocol = MOLTEN
magma.servers[1].network.port = 6000

magma.servers[2].name = Lavabit Molten
magma.servers[2].domain = lavabit.com
magma.servers[2].protocol = MOLTEN
magma.servers[2].network.port = 6050
magma.servers[2].network.ipv6 = true

magma.servers[3].name = Lavabit SMTP
magma.servers[3].domain = lavabit.com
magma.servers[3].protocol = SMTP
magma.servers[3].network.port = 7000
magma.servers[3].ssl.certificate = sandbox/etc/localhost.localdomain.pem

magma.servers[4].name = Lavabit SMTP
magma.servers[4].domain = lavabit.com
magma.servers[4].protocol = SMTP
magma.servers[4].network.port = 7050
magma.servers[4].network.ipv6 = true
magma.servers[4].ssl.certificate = sandbox/etc/localhost.localdomain.pem

magma.servers[5].name = Lavabit SMTPS
magma.servers[5].domain = lavabit.com
magma.servers[5].protocol = SMTP
magma.servers[5].network.port = 7500
magma.servers[5].network.type = SSL
magma.servers[5].ssl.certificate = sandbox/etc/localhost.localdomain.pem

magma.servers[6].name = Lavabit DMTP
magma.servers[6].domain = lavabit.com
magma.servers[6].protocol = DMTP
magma.servers[6].network.port = 7550
magma.servers[6].network.type = SSL
magma.servers[6].ssl.certificate = sandbox/etc/localhost.localdomain.pem

magma.servers[7].name = Lavabit POP
magma.servers[7].domain = lavabit.com
magma.servers[7].protocol = POP
magma.servers[7].network.port = 8000
magma.servers[7].ssl.certificate = sandbox/etc/localhost.localdomain.pem

magma.servers[8].name = Lavabit POP
magma.servers[8].domain = lavabit.com
magma.servers[8].protocol = POP
magma.servers[8].network.port = 8050
magma.servers[8].network.ipv6 = true
magma.servers[8].ssl.certificate = sandbox/etc/localhost.localdomain.pem

magma.servers[9].name = Lavabit POPS
magma.servers[9].domain = lavabit.com
magma.servers[9].protocol = POP
magma.servers[9].network.port = 8500
magma.servers[9].network.type = SSL
magma.servers[9].ssl.certificate = sandbox/etc/localhost.localdomain.pem

magma.servers[10].name = Lavabit POPS
magma.servers[10].domain = lavabit.com
magma.servers[10].protocol = POP
magma.servers[10].network.port = 8550
magma.servers[10].network.ipv6 = true
magma.servers[10].network.type = SSL
magma.servers[10].ssl.certificate = sandbox/etc/localhost.localdomain.pem

magma.servers[11].name = Lavabit IMAP
magma.servers[11].domain = lavabit.com
magma.servers[11].protocol = IMAP
magma.servers[11].network.port = 9000
magma.servers[11].ssl.certificate = sandbox/etc/localhost.localdomain.pem

magma.servers[12].name = Lavabit IMAP
magma.servers[12].domain = lavabit.com
magma.servers[12].protocol = IMAP
magma.servers[12].network.port = 9050
magma.servers[12].network.ipv6 = true
magma.servers[12].ssl.certificate = sandbox/etc/localhost.localdomain.pem

magma.servers[13].name = Lavabit IMAPS
magma.servers[13].domain = lavabit.com
magma.servers[13].protocol = IMAP
magma.servers[13].network.port = 9500
magma.servers[13].network.type = SSL
magma.servers[13].ssl.certificate = sandbox/etc/localhost.localdomain.pem

magma.servers[14].name = Lavabit IMAPS
magma.servers[14].domain = lavabit.com
magma.servers[14].protocol = IMAP
magma.servers[14].network.port = 9550
magma.servers[14].network.ipv6 = true
magma.servers[14].network.type = SSL
magma.servers[14].ssl.certificate = sandbox/etc/localhost.localdomain.pem

magma.servers[15].name = Lavabit HTTP
magma.servers[15].domain = lavabit.com
magma.servers[15].protocol = HTTP
magma.servers[15].network.port = 10000
magma.servers[15].ssl.certificate = sandbox/etc/localhost.localdomain.pem

magma.servers[16].name = Lavabit HTTP
magma.servers[16].domain = lavabit.com
magma.servers[16].protocol = HTTP
magma.servers[16].network.port = 10050
magma.servers[16].network.ipv6 = true
magma.servers[16].ssl.certificate = sandbox/etc/localhost.localdomain.pem

magma.servers[17].name = Lavabit HTTPS
magma.servers[17].domain = lavabit.com
magma.servers[17].protocol = HTTP
magma.servers[17].network.port = 10500
magma.servers[17].network.type = SSL
magma.servers[17].ssl.certificate = sandbox/etc/localhost.localdomain.pem

magma.servers[18].name = Lavabit HTTPS
magma.servers[18].domain = lavabit.com
magma.servers[18].protocol = HTTP
magma.servers[18].network.port = 10550
magma.servers[18].network.ipv6 = true
magma.servers[18].network.type = SSL
magma.servers[18].ssl.certificate = sandbox/etc/localhost.localdomain.pem

