/*** reset ***/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,input,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/*** common ***/
section, header, footer, aside, article, nav {
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #C7C5C6;
    font: 12px Helvetica, Arial, sans-serif;
    color: #737373;
    position: relative;
}

a {
    color: #000000;
    text-decoration: none;
}

dl {
    overflow: hidden;
}

dt {
    float: left;
    clear: left;
    font-weight: bold;
}

dt:after {
    content: ":";
}

dd {
    padding-left: 5px;
    float: left;
}

input[type="text"] {
    height: 16px;
    padding: 2px 0 2px 2px;
    border: 1px solid silver;
}

table {
    width: 100%;
    color: #3B393A;
}

tr {
    width: 100%;
}

tr input[type="checkbox"] {
    position: relative;
    top: 2px;
}

thead, .dataTables_scrollHead thead {
    border-bottom: 1px solid #9D9B9C;
}

tfoot {
    border-top: 1px solid #9D9B9C;
}

.dataTables_scrollHead th {
    cursor: pointer;
}

.dataTables_scrollHead th, tfoot td {
    height: 27px;

    border-left: 1px solid #D2D2D2;
    border-right: 1px solid #D2D2D2;

    font-weight: normal;
    text-align: left;
    line-height: 27px;
}

.dataTables_scrollHead th:first-child, tfoot td:first-child {
    border-left: none;
}

.dataTables_scrollHead th:last-child, tfoot td:last-child {
    border-right: none;
}

.dataTables_scrollHead th:hover {
    background-color: rgba(112,112,112,0.1);
}

.dataTables_scrollHead th.sorting_asc, .dataTables_scrollHead th.sorting_desc {
    background-color: rgba(220,220,220,0.5);
}

.dataTables_scrollHead th.sorting_asc:after {
    content: '▴';
    position: relative;
    top: -1px;
    left: 4px;
}

.dataTables_scrollHead th.sorting_desc:after {
    content: '▾';
    position: relative;
    top: -1px;
    left: 4px;
}

tbody tr {
    border-bottom: 1px solid #E1E1E1;
}

tbody tr:hover, tbody tr.open {
    background-color: rgba(25,173,247,0.1);
}

th, td {
    padding-left: 15px;
}

.table-footer {
    border-top: 1px solid #9D9B9C;
    overflow: hidden;
}

.table-footer .paginate {
    float: left;
    overflow: hidden;
}

.table-footer .paginate .dataTables_length {
    padding-left: 15px;
    line-height: 30px;
    float: left;
}

.table-footer .paginate .dataTables_paginate {
    padding-left: 15px;
    line-height: 30px;
    float: left;
}

.table-footer .paginate .paginate_button, .paginate .paginate_active {
    margin: 0 2px;
    padding: 0 4px;
    background-color: white;
    border: 1px solid silver;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.table-footer .paginate span.paginate_button:hover {
    background-color: #EEE;
    cursor: pointer;
}

.table-footer .paginate .paginate_active {
    color: white;
    border-color: white;
    background-color: #666;
}

.paginate span.paginate_active:hover {
    cursor: pointer;
}

.table-footer .status {
    overflow: hidden;
    float: right;
}

.table-footer .status .loading-spinner {
    width: 30px;
    border-left: 1px solid #D2D2D2;
    line-height: 30px;
    float: left;
}

.table-footer .status .dataTables_processing {
    background: url('/images/loading16x16.gif') 7px 7px no-repeat;
    text-indent: -10000px;
}

.table-footer .status .dataTables_info {
    padding-right: 15px;
    line-height: 30px;
    float: left;
}

.checkbox-controls-button {
    padding: 0 3px;
    border: 1px solid silver;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: white;
}

.add-field input[type="text"] {
    width: 200px;
    margin: 0 5px;
}

.warning {
    color: black;
    font-weight: bold;
}

.close {
    text-indent: -10000px;
}

.close:before {
    width: 16px;
    height: 16px;
    content: '';
    float: left;
    margin-left: -15px;
    background: url("/images/sprite.png") -368px 0 no-repeat;
}

/*** logo ***/
.logo {
    width: 151px;
    height: 44px;
    background: url("/images/logo.png") no-repeat;

    text-indent: -10000px;
}

/*** screen reader ***/
/* http://webaim.org/techniques/css/invisiblecontent/ */
.sr-hidden {
    width: 1px;
    height: 1px;

    position: absolute;
    top: auto;
    left: -10000px;

    overflow: hidden;
}

/*** buttons ***/
.button {
    height: 26px;
    padding: 0 20px;

    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(0,0,0,0.5);

    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    
    border: 1px solid #404040;

    -moz-box-shadow: inset 0 1px #626262;
    -webkit-box-shadow: inset 0 1px #626262;
    box-shadow: inset 0 1px #626262;

    background-color: #323232;
    background: -moz-linear-gradient(
        top,
        #323232,
        #323232 48%,
        #292929 48%,
        #292929 100%
    );
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#323232),
        color-stop(48%, #323232),
        color-stop(48%, #292929),
        to(#292929)
    );
    background: linear-gradient(
        top,
        #323232,
        #323232 48%,
        #292929 48%,
        #292929 100%
    );

    cursor: pointer;
}

a.button {
    height: 24px;
    line-height: 24px;
    text-decoration: none;

    display: inline-block;
}

input.button::-moz-focus-inner {
    border: none;
}

.button.cancel {
    border: 1px solid #404040;

    -moz-box-shadow: inset 0 1px #888888;
    -webkit-box-shadow: inset 0 1px #888888;
    box-shadow: inset 0 1px #888888;

    background-color: #636363;
    background: -moz-linear-gradient(
        top,
        #636363,
        #636363 48%,
        #505050 48%,
        #505050 100%
    );
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#636363),
        color-stop(48%, #636363),
        color-stop(48%, #505050),
        to(#505050)
    );
    background: linear-gradient(
        top,
        #636363,
        #636363 48%,
        #505050 48%,
        #505050 100%
    );
}

.button:hover {
    -moz-box-shadow: inset 0 1px #696969;
    -webkit-box-shadow: inset 0 1px #696969;
    box-shadow: inset 0 1px #696969;

    background-color: #383838;
    background: -moz-linear-gradient(
        top,
        #383838,
        #383838 48%,
        #303030 48%,
        #303030 100%
    );
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#383838),
        color-stop(48%, #383838),
        color-stop(48%, #303030),
        to(#303030)
    );
    background: linear-gradient(
        top,
        #383838,
        #383838 48%,
        #303030 48%,
        #303030 100%
    );
}

.button.cancel:hover {
    border: 1px solid #404040;

    -moz-box-shadow: inset 0 1px #8F8F8F;
    -webkit-box-shadow: inset 0 1px #8F8F8F;
    box-shadow: inset 0 1px #8F8F8F;

    background-color: #6B6B6B;
    background: -moz-linear-gradient(
        top,
        #6B6B6B,
        #6B6B6B 48%,
        #575757 48%,
        #575757 100%
    );
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#6B6B6B),
        color-stop(48%, #6B6B6B),
        color-stop(48%, #575757),
        to(#575757)
    );
    background: linear-gradient(
        top,
        #6B6B6B,
        #6B6B6B 48%,
        #575757 48%,
        #575757 100%
    );
}

.button:active, .button.cancel:active {
    border: 1px solid #931014;

    -moz-box-shadow: inset 0 1px #D34F54;
    -webkit-box-shadow: inset 0 1px #D34F54;
    box-shadow: inset 0 1px #D34F54;

    background-color: #C1181F;
    background: -moz-linear-gradient(
        top,
        #C1181F,
        #C1181F 48%,
        #AF1217 48%,
        #AF1217 100%
    );
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#C1181F),
        color-stop(48%, #C1181F),
        color-stop(48%, #AF1217),
        to(#AF1217)
    );
    background: linear-gradient(
        top,
        #C1181F,
        #C1181F 48%,
        #AF1217 48%,
        #AF1217 100%
    );
}

.button.disabled, .button.disabled:hover, .button.disabled:active {
    border: 1px solid #818181;

    -moz-box-shadow: inset 0 1px #C5C5C5;
    -webkit-box-shadow: inset 0 1px #C5C5C5;
    box-shadow: inset 0 1px #C5C5C5;

    background-color: #AFAFAF;
    background: -moz-linear-gradient(
        top,
        #AFAFAF,
        #AFAFAF 48%,
        #9F9F9F 48%,
        #9F9F9F 100%
    );
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#C5C5C5),
        color-stop(48%, #AFAFAF),
        color-stop(48%, #9F9F9F),
        to(#9F9F9F)
    );
    background: linear-gradient(
        top,
        #AFAFAF,
        #AFAFAF 48%,
        #9F9F9F 48%,
        #9F9F9F 100%
    );

    cursor: default;
}

.simple-button {
    padding: 0 4px;
    background-color: white;
    border: 1px solid silver;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.simple-button:hover {
    background-color: #EEE;
    cursor: pointer;
}

/*** dialogs ***/
.ui-dialog {
    border: 1px solid #000000;
    background-color: #FFFFFF;
}

#state-selector {
    padding: 5px;
}

#state-selector a {
    padding-left: 22px;
}

#state-selector .expandable a {
    padding-left: 10px;
}

#state-selector ul li {
    line-height: 20px;
}

#state-selector ul ul {
    padding-left: 15px;
}

#state-selector ul ul ul {
    padding-left: 15px;
}

#state-selector span {
    font-size: 20px;
}

#state-selector span:hover {
    cursor: pointer;
}

.ui-dialog-titlebar {
    padding: 5px;
    background-color: #EEEEEE;
}

.ui-dialog-titlebar-close {
    float: right;
}

.ui-datepicker {
    background-color: white;
}

#message-box {
    padding: 10px;
}

.ui-dialog-buttonset {
    margin: 5px 5px 5px 0;
    text-align: right;
}

.dialog-box {
    padding: 15px;

    border: 2px solid gray;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

    background-color: black;

    z-index: 1001;
}

.overlay {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: black;
    opacity: 0.2;

    z-index: 1000;
}

/*** startup ***/
.vertical-wrapper {
    width: 100%;
    height: 100%;
    display: table;
}

.vertical-align {
    display: table-cell;
    vertical-align: middle;
}

#startup-wrapper {
    width: 100%;
    height: 100%;

    position: relative;
    
    background-color: #474545;
    background: -moz-linear-gradient(
        top,
        #595656,
        #353535
    );
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#595656),
        to(#353535)
    );
    background: linear-gradient(
        top,
        #595656,
        #353535
    );

    /* for login error */
    z-index: 0;
}

#startup-wrapper.login, #startup-wrapper.locked {
    min-width: 610px;
    min-height: 380px;
}

#startup-box {
    width: 522px;
    height: 292px;

    margin: 0 auto;

    position: relative;

    background: url("/images/login.png") no-repeat;
}

#startup-box.login .logo, #startup-box.locked .logo {
    position: absolute;
    top: 35px;
    left: 38px;
}

#startup-box .home {
    position: absolute;
    bottom: 40px;
    right: 45px;
}

#startup-box .login {
    position: absolute;
    bottom: 40px;
    right: 223px;
}

#startup-footer {
    font-size: 10px;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
}

#startup-footer p {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#startup-footer ul {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#startup-footer ul li {
    float: left;
}

#startup-footer ul li {
    padding-right: 3px;
    margin-right: 3px;
    border-right: 1px solid #737373;
}

#startup-footer ul li:last-child {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}

#startup-footer ul li a {
    color: #737373;
    line-height: 10px;
}

#startup-footer ul li a:hover {
    text-shadow: 1px 1px rgba(0,0,0,0.4);
}

/*** login ***/
#login {
    width: 322px;
    height: 100%;

    position: relative;

    float: left;
}

#login input[name="username"], #login input[name="password"] {
    width: 208px;
    height: 17px;
    padding: 6px 0 6px 38px;

    font-size: 13px;
    color: #808080;
    text-shadow: 1px 1px rgba(128,128,128,0.2);

    border: 2px solid #d9d9d9;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

#login input[name="username"]:focus, #login input[name="password"]:focus {
    border: 2px solid #ed1c24;
}

#login input[name="username"] {
    background: url("/images/login-sprite.png") 5px 8px no-repeat;
    position: absolute;
    top: 125px;
    left: 36px;
}

#login input[name="password"] {
    background: url("/images/login-sprite.png") 4px -42px no-repeat;
    position: absolute;
    top: 175px;
    left: 36px;
}

#login .button {
    position: absolute;
    top: 227px;
    left: 205px;
}

/*** registration ***/
#registration {
    width: 200px;
    height: 100%;

    position: relative;

    float: right;
}

#registration div {
    padding: 0 32px;

    position: absolute;
    top: 120px;
}

#registration h3 {
    padding-bottom: 5px;
    font-weight: bold;
    color: #404040;
}

#registration p {
    color: #808080;
    line-height: 15px;
}

#registration .button {
    position: relative;
    top: 227px;
    left: 50px;
}

/*** login error ***/
#login-error {
    width: 520px;
    height: 55px;

    position: absolute;
    bottom: 275px;

    z-index: -1;

    border: 1px solid #9F141A;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    background-color: #C41921;
    background: -moz-linear-gradient(
        top,
        #C61921,
        #B1161D 50%,
        #C61921
    );
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#C61921),
        color-stop(50%, #B1161D),
        to(#C61921)
    );
    background: linear-gradient(
        top,
        #C61921,
        #B1161D 50%,
        #C61921
    );

    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

#login-error p {
    padding-left: 35px;

    color: #FFFFFF;
    text-shadow: 1px 1px rgba(0,0,0,0.4);
    line-height: 28px;

    background: url("/images/login-sprite.png") 0 -101px no-repeat;

    position: absolute;
    top: 7px;
    left: 17px;
}

/*** locked ***/
#locked div {
    width: 262px;
    padding: 0 30px;
    position: absolute;
    top: 100px;
}

#locked h2 {
    color: #FF0000;
    font-size: 1.4em;
}

#locked p {
    font-size: 1.2em;
}

#locked .appeal {
    position: absolute;
    bottom: 40px;
    left: 20px;
}

/*** logout ***/
#logout h2 {
    font-size: 1.4em;
    position: absolute;
    top: 100px;
    left: 30px;
}

/*** loading ***/
#startup-wrapper.loading {
    min-width: 720px;
    min-height: 380px;
}

#startup-box.loading {
    width: 642px;
    height: 302px;

    margin: 0 auto;

    position: relative;

    background: url("/images/loading-background.png") no-repeat;
}

#startup-box.loading .logo {
    position: absolute;
    top: 28px;
    left: 422px;
}

/*** loading fun facts ***/
#loading-fact {
    width: 358px;
    height: 100%;

    position: relative;

    float: left;
}

#loading-fact h2 {
    margin: 24px 30px 10px;
    
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #ED1C24;
}

#loading-fact img {
    margin: 0 30px 5px;
}

#loading-fact .facts {
    margin: 0 30px;
    font-size: 1.5em;
    position: absolute;
    bottom: 80px;
    list-style: disc;
}

#loading-fact .fact {
    margin-bottom: 15px;
}

#loading-fact .fact:last-child {
    margin-bottom: 0;
}

/*** loading waiting ***/
#loading-waiting {
    width: 284px;
    height: 100%;

    position: relative;

    float: right;
    overflow: hidden;
}

#loading-waiting .loading-image {
    width: 32px;
    height: 32px;

    display: block;

    text-indent: -10000px;

    position: absolute;
    top: 124px;
    left: 124px;

    background: url("/images/loading.gif") no-repeat;
}

#loading-waiting p {
    width: 100%;

    text-align: center;

    position: absolute;
    top: 193px;
}

#loading-waiting a {
    position: absolute;
    top: 247px;
    left: 93px;
}

/*** loading finished ***/
#loading-finished {
    width: 284px;
    height: 100%;

    position: relative;

    float: right;
    overflow: hidden;
}

#loading-finished .finished-image {
    width: 93px;
    height: 79px;

    display: block;

    text-indent: -10000px;

    position: absolute;
    top: 102px;
    left: 94px;

    background: url("/images/check.png");
}

#loading-finished div {
    width: 100%;
    
    position: absolute;
    top: 192px;
}

#loading-finished p {
    text-align: center;
    margin-bottom: 2px;
}

#loading-finished .button {
    position: absolute;
    top: 247px;
    left: 88px;
}

/*** loading advertisement ***/
.loading-ad {
    width: 300px;
    height: 250px;

    position: absolute;
    top: 27px;
    left: 29px;

    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.loading-ad:hover {
    -moz-box-shadow: 0 0 10px #000000;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}

#ad {
    width: 70px;
    margin: 0 auto;
}

/*** loading warning ***/
#loading-warning {
    width: 282px;
    height: 298px;

    position: absolute;
    top: 2px;
    left: 358px;

    /* position above finished */
    z-index: 1;

    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;

    background-color: #C61921;
}

#loading-warning .white-logo {
    width: 159px;
    height: 51px;

    position: absolute;
    top: 22px;
    left: 60px;

    background: url("/images/logo-white.png") no-repeat;

    text-indent: -10000px;
}

#loading-warning div {
    padding: 0 40px;

    position: absolute;
    top: 98px;
}

#loading-warning p:first-child {
    margin-bottom: 30px;
}

#loading-warning p {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 1px rgba(0,0,0,0.4);
}

#loading-warning #cancel {
    position: absolute;
    top: 245px;
    left: 36px;
}

#loading-warning #continue {
    position: absolute;
    top: 245px;
    left: 147px;
}

/*** main ***/
#main-wrapper {
    min-width: 960px;
    min-height: 300px;

    background-color: #C7C5C6;

    overflow: hidden;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#main-wrapper a:hover {
    background-color: #eeeeee;
}

/*** fatal error ***/
#fatal-error-wrapper {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    
    background-color: rgba(0,0,0,0.5);
}

#fatal-error-box {
    width: 300px;

    margin: auto;
    padding: 10px 10px 35px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    color: white;
    background-color: black;

    position: relative;
}

#fatal-error-box a {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

/*** chrome ***/
#chrome {
    height: 56px;
    min-width: 600px;

    position: relative;

    background: url("/images/chrome-background.png") repeat-x #FAFAFA;
}

#chrome h1 {
    position: relative;
    top: 7px;
    left: 5px;

    text-indent: -10000px;

    float: left;
}

/*** account info ***/
#account {
    height: 100%;

    position: relative;
    left: 10px;

    float: left;
}

#account p, #account ul {
    margin-left: 5px;

    position: relative;
    top: 20px;

    float: left;
}

#account ul li {
    margin-right: 5px;
    float: left;
}

/*** meta box ***/
#meta-box {
    width: 320px;
    
    position: absolute;
    top: 25px;
    left: 200px;
}

#meta-box dl {
    color: white;
}

#meta-box dl {
    width: 150px;
    float: left;
}

#meta-box dt {
    margin-bottom: 3px;
}

#meta-box .user {
    margin-right: 15px;
    border-right: 1px solid white;
}

#meta-box .button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#meta-box .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

#meta-box .unknown,
#meta-box .true,
#meta-box .false,
#meta-box .secure,
#meta-box .insecure {
    text-indent: -10000px;
}

#meta-box .unknown:before,
#meta-box .true:before,
#meta-box .false:before,
#meta-box .secure:before,
#meta-box .insecure:before {
    width: 16px;
    height: 16px;
    content: '';
    float: left;
    background: url("/images/sprite.png") -352px 0 no-repeat;
}

#meta-box .true:before {
    background-position: -320px 0;
}

#meta-box .false:before {
    background-position: -336px 0;
}

#meta-box .secure:before {
    background-position: -384px 0;
}

#meta-box .insecure:before {
    background-position: -400px 0;
}

#meta-box .progress {
    width: 90%;
    padding: 0;
}

#meta-box .progress .ui-progressbar {
    height: 1em;
}

/*** alert box ***/
#alert-box {
    width: 300px;

    position: absolute;
    top: 25px;
    left: 200px;
}

#alert-box .alert {
    margin-bottom: 10px;
}

#alert-box .alert:last-child {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
}

#alert-box h2 {
    margin-top: 10px;
    font-size: 1.5em;
}

#alert-box h2:first-child {
    margin-top: 0;
}

#alert-box .alert h2 {
    color: red;
}

#alert-box .warning h2 {
    color: yellow;
}

#alert-box h2:before {
    width: 16px;
    height: 16px;
    content: '';
    float: left;
    margin: 3px 3px 0 0;
    background: url("/images/sprite.png") -416px 0 no-repeat;
}

#alert-box .warning h2:before {
    background-position: -432px 0;
}

#alert-box p {
    padding: 0 20px;
    color: white;
}

#alert-box .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

#alert-box .close:hover {
    background-color: none;
}

/*** global nav ***/
#global-nav {
    height: 100%;

    position: absolute;
    right: 0px;
}

#global-nav ul li {
    float: left;
}

#global-nav ul li a {
    width: 60px;
    height: 100%;

    text-align: center;
    line-height: 56px;

    display: inline-block;
}

/*** tabs ***/
#tabs {
    height: 40px;

    background-color: #8C8686;
    background: -moz-linear-gradient(
        top,
        #8C8686,
        #858180 75%,
        #6C6869
    );
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#8C8686),
        color-stop(75%, #858180),
        to(#6C6869)
    );
    background: linear-gradient(
        top,
        #8C8686,
        #858180 75%,
        #6C6869
    );
}

#tabs .tab {
    width: 200px;
    height: 34px;

    margin: 5px 4px 0 0;

    border: 1px solid #6A6665;
    border-bottom: none;

    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;

    background: url("/images/tab-background.png") repeat-x #A29E9D;

    position: relative;

    float: left;

    cursor: pointer;
}

#tabs .tab h3 {
    width: 150px;

    padding-left: 9px;

    font-weight: normal;
    line-height: 34px;
    text-shadow: 0 1px #B2AEAD;
    color: #454140;
    white-space: nowrap;

    overflow: hidden;
}

#tabs .tab a {
    position: absolute;
    top: 9px;
    right: 5px;
}

#tabs .permatab {
    width: 152px;

    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

#tabs .tab.active {
    border: 1px solid #F8F2F2;
    border-bottom: none;
    
    background: url("/images/tab-background.png") 0 -34px repeat-x #EAE8E9;

    cursor: default;
}

/*** workspace ***/
#workspaces-wrapper {
    position: absolute;
    top: 96px;
    right: 0;
    bottom: 0;
    left: 0;
}

#workspaces-wrapper.no-tabs {
    top: 56px;
}

.workspace-wrapper {
    height: 100%;
    display: none;
}

.workspace-wrapper.active {
    display: block;
}

.workspace {
    margin: 0 5px 5px;

    border: 1px solid #6E6E6E;
    border-top-color: #9D9B9C;

    background-color: #FFFFFF;

    overflow: auto;

    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
}

.workspace.no-tools {
    top: 0;
}

/* tool drop down displayed */
.workspace.tool-dropdown {
    top: 80px;
}

/*** composing ***/
.composing-wrapper {
    overflow: auto;
}

.composing-header {
    padding: 10px 15px;
    border-bottom: 1px solid #C8C8C8;
    overflow: hidden;
}

.composing-header .field-wrapper {
    margin: 4px 0;
    overflow: hidden;
}

.composing-header .input-wrapper {
    float: left;
    width: 100%;
}

.composing-header .input {
    margin-left: 100px;
}

.composing-header .input.text {
    /* counteracts input 2px of border and 3px left padding */
    margin-right: 5px;
}

.composing-header .input.text.action {
    margin-right: 75px;
}

.composing-header .label-wrapper {
    width: 100px;
    margin-left: -100%;
    float: left;

    text-align: right;
}

.composing-header .action-wrapper {
    width: 70px;
    margin-left: -70px;
    float: left;
}

.composing-header .action-wrapper * {
    float: right;
}

.composing-header input {
    height: 15px;
    padding: 3px 0 3px 3px;
    border: 1px solid #9E9C9D;
}

.composing-header input, .composing-header select {
    width: 100%;
}

.composing-header label {
    margin-right: 20px;

    line-height: 23px;
    font-weight: bold;
    color: #444041;
}

.composing-attachments {
    height: 50px;
    border-bottom: 1px solid #C8C8C8;
    background-color: rgba(25, 173, 247, 0.1);
}

.composing-attachments * {
    float: left;
    line-height: 30px;
}

.composing-attachments p {
    margin-right: 10px;
}

.composing-attachments .file-wrapper {
    margin: 0 15px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 10px;
}

.composing-attachments .file-wrapper input {
    height: 100%;
    position: absolute;
    top: 0;
    right: 1px;
    font-size: 100px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

.composing-attachments > div {
    height: 30px;
    padding: 0 15px;

    border-left: 1px solid gray;

    position: relative;
    top: 10px;
}

.composing-attachments.unfinished-warning {
    background-color: rgba(200,20,20,0.2);
}

.composing-body textarea {
    width: 100%;
    height: 400px;
    border: none;
}
/*** search ***/
.advanced-search {
    padding: 15px 15px 25px;

    background-color: black;

    overflow: hidden;
}

.advanced-search input[type="text"] {
    padding: 5px 0 5px 5px;
    border: 1px solid gray;
    background-color: white;
}

.advanced-search select, .advanced-search input[type="text"] {
    width: 200px;
    margin-right: 24px;
}

.advanced-search .column-wrapper {
    width: 100%;
    float: left;
    position: relative;
}

.advanced-search input[type="submit"] {
    position: absolute;
    bottom: 0;
    right: 0;
}

.advanced-search .middle {
    margin: 16px 100px 0 224px;
}

.advanced-search .search-options .search-option {
    margin-top: 20px;
    overflow: hidden;
}

.advanced-search .search-options .search-option:first-child {
    margin-top: 0;
}

.advanced-search .search-options .search-option > div {
    float: left;
}

.advanced-search .left {
    width: 224px;
    margin-left: -100%;
}

.advanced-search .search-options .remove {
    margin-right: 10px;
}

.search-results {
    position: absolute;
    top: 84px;
    right: 0;
    bottom: 0;
    left: 0;
}

.search-results tr.progress-row {
    line-height: 15px;
    height: 15px;
    border-bottom: none;
}

.search-results tr.progress-row td {
    height: 15px;
    padding: 0;
}

.search-results div.progress {
    height: 15px;
}

/*** reading ***/
.message-header, .message-info {
    padding: 10px 20px;

    color: black;
    border-bottom: 1px solid gray;

    position: relative;
}

.message-header .extras {
    position: absolute;
    top: 10px;
    right: 10px;
}

.message-info {
    overflow: hidden;
}

.message-info .close {
    position: absolute;
    right: 15px;
}

.message-info .source, .message-info .security, .message-info .server {
    width: 450px;
    float: left;
}

.message-attachments {
    padding: 10px 20px;
    border-bottom: 1px solid gray;
    position: relative;
}

.message-attachments a {
    margin-right: 20px;
}

.message-attachments .close {
    margin: 0;
    position: absolute;
    right: 15px;
}

.message-body {
    padding: 10px 20px;
    color: black;
}

.message-ad {
    width: 728px;
    height: 90px;

    margin: 10px auto;
}

.message-ad .ad {
    width: 728px;
    height: 90px;

    display: inline-block;
}

/*** scrape contacts ***/
.scrape-contacts {
    padding: 10px;
    background-color: rgba(25,173,247,0.1);
}

.scrape-contacts form {
    position: relative;
    overflow: hidden;
}

.scrape-contacts div {
    margin: 0 10px 10px 0;

    float: left;
    overflow: hidden;
}

.scrape-contacts div.next-row {
    clear: both;
}

.scrape-contacts label {
    float: left;
}

.scrape-contacts input[type="text"] {
    border: 1px solid gray;

    float: left;
    clear: both;

    background-color: white;
}

.scrape-contacts .button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.contacts-list {
    height: 400px;
}

/*** search ***/
.search {
    width: 305px;
    height: 100%;

    float: left;
}

.search * {
    float: left;
}

.search form {
    position: relative;
    top: 8px;
    left: 10px;
}

.search input[type="text"] {
    width: 150px;
    height: 14px;

    padding: 4px 0 4px 5px;
    
    border: 1px solid #A3A1A2;

    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;

    background-color: #ECE8E9;

    font-size: 11px;
}

.search form a.button {
    height: 22px;

    padding: 0 5px;

    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.search input[type="submit"] {
    height: 24px;

    padding: 0 8px;
    
    -moz-border-radius: 0 12px 12px 0;
    -webkit-border-radius: 0 12px 12px 0;
    border-radius: 0 12px 12px 0;
}

.search .advanced {
    position: relative;
    top: 14px;
    left: 18px;

    font-size: 11px;
    text-shadow: 0 1px #E2E0E1;
    color: #595556;
}

/*** toolbar ***/
.toolbar {
    height: 40px;
    background: url('/images/toolbar-background.png') repeat-x;
}

/*** tools ***/
.tools {
    overflow: hidden;
}

.tools > ul {
    float: right;
}

.tools .span {
    width: 100%;
    overflow: hidden;
}

.tools ul li {
    float: left;
}

.tools ul li a {
    padding: 0 8px 0 10px;

    text-align: center;
    line-height: 40px;

    display: inline-block;
}

.tools span.ui-button-icon-primary {
    background: url("/images/sprite.png") no-repeat -304px 0;
}

.tools span.new {
    background-position: -16px 0;
}

.tools span.print {
    background-position: -144px 0;
}

.tools span.reply {
    background-position: -160px 0;
}

.tools span.reply-all {
    background-position: -176px 0;
}

.tools span.forward {
    background-position: -192px 0;
}

.tools span.delete {
    background-position: -208px 0;
}

.tools span.junk, .tools span.cancel {
    background-position: -48px 0;
}

.tools span.copy {
    background-position: -224px 0;
}

.tools span.move {
    background-position: -240px 0;
}

.tools span.mark {
    background-position: -256px 0;
}

.tools span.tags {
    background-position: -272px 0;
}

.tools span.display {
    background-position: -288px 0;
}

.tools span.folder {
    background-position: -80px 0;
}

.tools span.inbox {
    background-position: 0 0;
}

.tools span.drafts {
    background-position: -16px 0;
}

.tools span.sent {
    background-position: -32px 0;
}

.tools span.junk {
    background-position: -48px 0;
}

.tools span.trash {
    background-position: -64px 0;
}

.tools .left {
    overflow: hidden;
    float: left;
}

.tools .right {
    overflow: hidden;
    float: right;
}

.tools .left ul, .tools .right ul {
    float: left
}

.enabled {
    display: block;
}

.disabled {
    display: none;
}

.add-tag {
    height: 26px;
    margin: 7px 0;
    border-right: 1px solid gray;
}

.add-tag .add {
    font-size: 1.5em;
    line-height: 26px;
}

/*** views ***/
.view-wrapper {
    width: 100%;
    height: 100%;
    float: left;
}

.view {
    height: 100%;

    margin-left: 230px;

    border-left: 1px solid #9D9B9C;

    background-color: #FBFBFB;

    overflow-y: auto;
}

/*** contacts list ***/
.contacts-wrapper {
    height: 100%;
    color: black;
}

.contacts-wrapper .column-wrapper {
    width: 100%;
    height: 100%;
    float: left;
}

.contacts-wrapper .contact-info {
    height: 100%;
    margin-left: 600px;
    border-left: 2px solid gray;

    position: relative;
}

.contacts-wrapper .contact-info h4 {
    padding: 10px 50px;
    border-bottom: 1px solid gray;
}

.contacts-wrapper .contact-info dl {
    padding: 10px 50px;
}

.contacts-wrapper .contact-info dt {
    width: 100px;
    text-align: right;
}

.contacts-wrapper .dataTables_wrapper.info {
    width: 600px;
    margin-left: -100%;
    float: left;
}

.contacts-wrapper .dataTables_wrapper tr td {
    height: 36px;
    vertical-align: middle;
}

.contact-info .close {
    position: absolute;
    top: 11px;
    right: 15px;
}

.contact-info .add-field {
    width: 100%;
    border-top: 1px solid silver;
    position: absolute;
    bottom: 0;
}

.contact-info .add-field form {
    padding: 15px;
}

/*** settings and logs ***/
.settings {
    padding: 30px;
    color: black;
}

.settings h3 {
    margin-bottom: 15px;
}

.settings dt {
    width: 150px;
    text-align: right;

    margin-bottom: 5px;
}

.settings .actions {
    position: absolute;
    right: 10px;
    bottom: 6px;
    display: none;
}

.settings .actions * {
    margin-left: 3px;
    float: left;
}

.settings .help-text {
    display: none;
}

.settings .value-input {
    color: silver;
}

.settings > div.edited {
    background-color: #FFFDC4;
}

.settings > div.edited .value-input {
    color: black;
}

.settings .add-field {
    margin-top: 15px;
    padding: 15px;
    border-top: 1px solid silver;
}

.settings.help-text > div {
    padding: 3px;
    position: relative;
}

.settings.help-text > div:hover {
    background-color: rgba(25,173,247,0.1);
}

.settings.logs {
    padding: 0;
}

/*** message list ***/
.messages-wrapper {
    background-color: #FFFFFF;
    background: -moz-linear-gradient(
        left,
        #C4C4C4,
        rgba(255,255,255,0) 15px
        ), -moz-linear-gradient(
        top,
        #EDEDED,
        #FFFFFF 100px
    );
    background: -webkit-gradient(
        linear,
        left top, right top,
        from(#C4C4C4),
        color-stop(2%, rgba(255,255,255,0)),
        to(rgba(255,255,255,0))
        ), -webkit-gradient(
        linear,
        left top, left bottom,
        from(#EDEDED),
        color-stop(25%, #FFFFFF),
        to(#FFFFFF)
    );
    background: linear-gradient(
        left,
        #C4C4C4,
        rgba(255,255,255,0) 15px
        ), -moz-linear-gradient(
        top,
        #EDEDED,
        #FFFFFF 100px
    );

    position: relative;
}

.messages tr {
    height: 27px;
    line-height: 27px;
    font-weight: bold;
}

.messages tr.seen {
    font-weight: normal;
}

.messages .tag {
    display: inline-block;
}

.messages span {
    padding: 0 3px;
    margin: 0 3px;
    border: 1px solid silver;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    line-height: 16px;
}

.messages span.left {
    margin-right: 0;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.messages span.right {
    margin-left: 0;
    border-left: none;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.messages span:hover, .messages .checkbox-controls-button:hover {
    background-color: #EEE;
    cursor: pointer;
}

.checkbox-controls {
    padding: 3px 8px;
    border: 1px solid silver;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    list-style: none;
    position: absolute;
}

.preview-pane {
    border-top: 1px solid gray;
    overflow-y: auto;
}

/*** folder menu ***/
.folder-scroll-wrapper {
    height: 600px;
    width: 227px;

    border-right: 1px solid #EBEBEB;
    
    overflow: auto;
}

.folder-scroll-wrapper.options {
    height: 549px;
    margin-bottom: 2px;
    border-bottom: 1px solid #EBEBEB;
}

.folder-scroll-wrapper.editing {
    height: 516px;
}

.folder-menu {
    width: 230px;
    height: 100%;

    margin-left: -100%;

    background-color: #FBFBFB;

    float: left;

    position: relative;
}

.folder-menu li {
    border-bottom: 1px solid #E1E1E1;
}

/*** folder list ***/
.folder-list li[id^="folder"] {
    position: relative;
}

.folder-list .folder {
    height: 37px;

    line-height: 37px;
    text-shadow: 0 1px #FEFCFD;

    display: block;
    padding-left: 34px;
    
    white-space: nowrap;
}

.folder-list .folder:before {
    width: 16px;
    height: 16px;

    content: "";

    position: relative;
    top: 11px;
    left: -8px;

    float: left;

    background: url("/images/sprite.png") no-repeat -304px 0;
}

.folder-list .inbox:before {
    background-position: 0 0;
}

.folder-list .drafts:before {
    background-position: -16px 0;
}

.folder-list .sent:before {
    background-position: -32px 0;
}

.folder-list .junk:before {
    background-position: -48px 0;
}

.folder-list .trash:before {
    background-position: -64px 0;
}

.folder-list .trash.empty:after {
    content: ' [Empty]';
}

.folder-list .toggle .folder:before {
    background-position: -80px 0;
}

.folder-list .toggle.open .folder:before {
    background-position: -96px 0;
}

.folder-list .expandable .folder {
    margin-left: 22px;
    padding-left: 0;
}

.folder-list .expander {
    width: 18px;
    height: 37px;
    margin-right: 12px;
    padding-right: 4px;
    line-height: 37px;
    text-indent: -10000px;
    float: left;
}

.folder-list .expander:before {
    width: 16px;
    height: 16px;

    content: "";

    float: left;
    position: relative;
    top: 12px;
    left: 4px;

    cursor: pointer;
    background: url('/images/expander.png');
}

.folder-list .toggle .expander.expand:before {
    background-position: 0 -50px;
}

.folder-list ul .folder {
    padding-left: 50px;
}

.folder-list ul ul .folder {
    padding-left: 66px;
}

.folder-list ul ul ul .folder {
    padding-left: 82px;
}

.folder-list ul ul ul ul .folder {
    padding-left: 98px;
}

.folder-list ul ul ul ul ul .folder {
    padding-left: 112px;
}

.folder-list ul ul ul ul ul ul .folder {
    padding-left: 128px;
}

.folder-list ul .expandable {
    padding-left: 16px;
}

.folder-list ul ul .expandable {
    padding-left: 32px;
}

.folder-list ul ul ul .expandable {
    padding-left: 48px;
}

.folder-list ul ul ul ul .expandable {
    padding-left: 64px;
}

.folder-list ul ul ul ul ul .expandable {
    padding-left: 80px;
}

.folder-list ul ul ul ul ul ul .expandable {
    padding-left: 96px;
}

.folder-list > li:first-child {
    background: -moz-linear-gradient(
        top,
        #E0E0E0,
        #FBFBFB 15%
    );
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#E0E0E0),
        color-stop(15%, #FBFBFB),
        to(#FBFBFB)
    );
    background: linear-gradient(
        top,
        #E0E0E0,
        #FBFBFB 15%
    );
}

.folder-list .open {
    background-color: #E3E3E3;
    border-bottom: 1px solid #FFFFFF;
}

.folder-list .open .folder {
    cursor: default;
}

.folder-list .collapsed {
    display: none;
}

.folder-list .edit {
    position: absolute;
    top: 10px;
    right: 5px;
}

.folder-list .edit .rename, .folder-list .edit .remove {
    padding: 0 4px;
    font-size: 18px;
    line-height: 18px;
    color: gray;
}

.folder-list .edit .rename:hover, .folder-list .edit .remove:hover {
    color: black;
}

.folder-list .renaming {
    padding-left: 0 !important;
}

.folder-list .rename-folder {
    padding-left: 10px;
    line-height: 37px;
}

.folder-list .rename-folder input[type="text"] {
    width: 190px;
    height: 16px;
    padding: 2px 0 2px 2px;
    border: 1px solid silver;
    background-color: white;
}

.folder-list .rename-folder input[type="submit"] {
    font-size: 18px;
}

.folder-list .hover {
    background-color: rgba(25,173,247,0.1);
}

/*** folder options ***/
.folder-options {
    width: 227px;
    height: 47px;

    border-right: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;

    background: -moz-linear-gradient(
        top,
        #E0E0E0,
        #FBFBFB 7%
    );
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#E0E0E0),
        color-stop(7%, #FBFBFB),
        to(#FBFBFB)
    );
    background: linear-gradient(
        top,
        #E0E0E0,
        #FBFBFB 7%
    );

    position: absolute;
    bottom: 0;
}

.folder-options span.ui-icon {
    background: url("/images/sprite.png") no-repeat -304px 0;
}

.folder-options span.add {
    background-position: -112px 0;
}

.folder-options span.edit {
    background-position: -128px;
}

.add-folder-box {
    width: 217px;

    padding: 5px;

    border-right: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;

    position: relative;
}

.add-folder-box label {
    margin-right: 5px;
}

.add-folder-box input[type="text"] {
    width: 132px;
}

.add-folder-box input[type="submit"] {
    margin-left: 5px;
}

/*** help ***/
.help-wrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.help-page, .help-categories > div, .help-topics > div {
    padding: 15px;
    color: black;
}

.help-categories > div, .help-topics > div {
    height: 100%;
    border-right: 1px solid gray;
}

.help-categories li, .help-topics li {
    margin-bottom: 10px;
}

.help-categories li:last-child, .help-topics li:last-child {
    margin-bottom: 0;
}

.help-page-wrapper {
    width: 100%;
    margin-left: -400px;
    float: right;
}

.help-page {
    margin-left: 400px;
}

.help-page * {
    margin-bottom: 15px;
}

.help-page *:last-child {
    margin-bottom: 0;
}

.help-categories {
    width: 200px;
    height: 100%;
    position: absolute;
}

.help-topics {
    width: 200px;
    height: 100%;
    position: absolute;
    left: 200px;
}
