<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>$Provider ..::.. Portal</title>
		<link rel="stylesheet" type="text/css" href="/portal/default/skin.css" />
	</head>
	<body>
		<form id="mail" method="post" action="/portal">
			
		</form>
	</body>
</html>
